*{

    margin:0;

    padding:0;

}

.post-main{
    display:flex;
    margin:30px;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(181, 178, 178);
}
.post-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
    
}